{
  "app": {
    "guid": "8957be50-ba02-4534-b171-d0511c6f7489"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": true
  },
  "security": {
    "token": "ZjI2Yjc5MGUtNDBlNy00OGE4LWI3ZDEtY2ZjODI4YTQwYmU5",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "internal",
    "autoSignUp": false
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}